@import '/styles/global/variables';
@import '/styles/global/mixins';

.comingSoon {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  &__logo {
    margin-top: 20px;
  }

  &__title {
    color: white;
    font-family: $font__secondary;
    font-size: 5rem;
    font-weight: 700;

    @include breakpoint (lt-tablet) {
      font-size: 3rem;
    }
  }
  &__teaser {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    svg {
      font-size: 1.25rem;
    }
  }

  &__scout {

  }
}