@import '/styles/global/variables';
@import '/styles/global/mixins';

.comingSoon {
  height: 100vh;
  display: grid;
  place-items: center;

  &__container {
    text-align: center;
    color: white;
    font-family: $font__main;
  }
  &__title {
    font-size: 5rem;
    font-weight: 700;

    @include breakpoint (lt-tablet) {
      font-size: 3rem;
    }
  }
  &__teaser {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    svg {
      font-size: 1.25rem;
    }
  }

  &__scout {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}