@import '/styles/global/variables';
@import '/styles/global/mixins';

.Products {
  background-color: #000;
  color: #fff;
  height: 100vh;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__card {
    
  }

  &__title {
    display: inline-block;
  }
}